---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';

const cta = "Try Tangerine";
const href = "https://app.taskando.com/";
---

<Layout title="ðŸŠ Tangerine">
	<header>
		<Header/>
	</header>
	<main>
		
		<Card cta={cta} href={href} label="Time tracking in your projects">
			<div>this is card</div>
		</Card>

		<Footer />
	</main>
</Layout>
