---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="ðŸŠ Tangerine">
	<header>
		<Header />
	</header>
	<main>
		<a href="/">Back</a>
		This is terms and conditions page
	</main>
</Layout>
