---
export interface Props {
	label: string;
	cta: string;
	href: string;
}

const { label, cta, href } = Astro.props as Props;
---

<div class="flex p-4 border-black border-2">
	<div>
		{label}
	</div>
	<slot /> 
	<div>
		<a href={href}>{cta}</a>
	</div>
</div>
