---
import CardStyle from "./CardStyle.astro";
---

<CardStyle>
	<div class="flex p-4">
		<div>
			<span>Contact</span>
			<ul>
				<li>Email</li>
				<li>Facebook</li>
			</ul>
		</div>
		<div>
			<span>&#9400; 2022 IX Design UK</span>
			<ul>
				<li><a href="/terms-and-conditions">Terms &amp; Conditions</a></li>
				<li><a href="/privacy-policy">Privacy Policy</a></li>
			</ul>
		</div>
	</div>
</CardStyle>
