---
import Button from "./Button.astro";
---

<header
	class="flex text-2xl flex-col sm:flex-row gap-4 justify-between align-center w-full px-8 py-2 mt-4"
>
	<div class="flex flex-row justify-between align-center w-full p-4">
		<div class="flex flex-row items-center">
			<img src="/logo.svg" alt="tangerine logo" />
			Tangerine
		</div>
		<Button name="Start Tangerine" />
	</div>
</header>
