---
import Button from "./Button.astro";
---

<div class="flex flex-row justify-between align-center w-full">
	<div class="flex flex-row items-center">
		<img src="/logo.svg" alt="tangerine logo" />
		Tangerine
	</div>
	<Button name="Start Tangerine" />
</div>
