---
export interface Props {
	header: string;
}

const { header } = Astro.props;
---

<div
	class="flex flex-col items-center justify-center lg:flex-row p-4 md:p-6 gap-5"
>
	<div
		class="w-full lg:w-2/5 flex items-center justify-center relative h-[10rem] md:h-[18rem] lg:h-full"
	>
		<slot name="image" />
	</div>
	<div
		class="w-full lg:w-3/5 flex lg:items-center lg:justify-center px-0 pb-6 lg:p-6 z-10"
	>
		<div class="flex flex-col">
			<h1>{header}</h1>
			<slot name="body" />
		</div>
	</div>
</div>
