---
import Button from "../components/Button.astro";
---

<div
	class="flex justify-between p-5 bg-rose-200 col-span-2 rounded-2xl relative overflow-hidden shadow-lg duration-300 ease-in-out hover:scale-[1.01] hover:shadow-2xl hover:z-50"
>
	<div class="z-50">
		<h2 class="font-bold">Join the waitlist today</h2>
		<p>Get an email with an invite to use Taskando when beta release is out</p>
	</div>

	<div class="z-50">
		<Button name="Join the waitlist today" />
	</div>
</div>
