---
import Button from "../components/Button.astro";
---

<div class="flex justify-between p-5 bg-rose-200 col-span-2 rounded-2xl">
	<div>
		<h2 class="font-bold">Join the waitlist today</h2>
		<p>Get an email with an invite to use Taskando when beta release is out</p>
	</div>

	<Button name="Join the waitlist today" />
</div>
