---
import Button from "../components/Button.astro";
import CardStyle from "../components/CardStyle.astro";
import Slide from "../components/Slide.astro";
import "swiper/css";
---

<CardStyle>
	<div
		class="swiper mySwiper flex flex-col w-full bg-white relative rounded-3xl"
	>
		<div class="swiper-wrapper flex items-center">
			<div class="swiper-slide">
				<Slide header="Why Taskando will make a difference">
					<img
						slot="image"
						src="/slides/slide-1.svg"
						alt="Taskando logo circles"
						class="w-[10rem]"
					/>
					<p slot="body">
						There are probably 100s other task managing apps, but Taskando is
						about self- development, learning, keeping the track of the
						processes, and better retrospectives. Taskando is designed
						specifically with those goals in mind.
					</p>
				</Slide>
			</div>

			<div class="swiper-slide">
				<Slide header="The devil is in the detail">
					<img
						slot="image"
						src="/slides/slide-2.svg"
						alt="squares"
						class="w-[10rem]"
					/>
					<p slot="body">
						Keeping it simple, yet effective is Taskando’s mantra. Taskando
						organisational structure is intuitively broken down into projects,
						lists, and tasks, which are all tracked and can be annotated, too.
						To make the most out of the notes, they can be viewed from the
						insights in the context of tracking data. This is where quantitative
						meets the qualitative.
					</p>
				</Slide>
			</div>

			<div class="swiper-slide">
				<Slide header="Smart granularity">
					<img
						slot="image"
						src="/slides/slide-3.svg"
						alt="blobs"
						class="w-[12rem]"
					/>
					<p slot="body">
						Unlike other similar apps, Taskando uses an improved tracking system
						that rounds up the time spent so you get a meaningful overview of
						the time tracking.
					</p>
				</Slide>
			</div>

			<div class="swiper-slide">
				<Slide header="Complementary notes">
					<img
						slot="image"
						src="/slides/slide-4.svg"
						alt="notes"
						class="w-[16rem]"
					/>
					<p slot="body">
						There are five types of notes you can attach to projects, lists, and
						tasks: plain notes, requirements, pivot, checklist, and evaluation.
						The notes will help you keep a thorough qualitative logs about what
						is happening. It’ll help understand the when’s and why’s of your
						process better in the retrospective.
					</p>
				</Slide>
			</div>

			<div class="swiper-slide">
				<Slide header="Work, log, and learn">
					<img
						slot="image"
						src="/slides/slide-5.svg"
						alt="progression"
						class="w-[14rem]"
					/>
					<p slot="body">
						Learning from insights is the most important feature of Taskando.
						The goal is for you to get better at estimating workloads,
						understanding the process and variables that affect a project over
						time. Your awarness will improve, and you will be able to create
						better narratives about the course of you project.
					</p>
				</Slide>
			</div>
			<div class="swiper-slide">
				<Slide header="Join the waitlist today">
					<img
						slot="image"
						src="/slides/slide-6.svg"
						alt="envelopes"
						class="w-[10rem]"
					/>
					<div slot="body">
						<p>
							Taskando is just around the corner. Join the waiting list to get
							notified first when it gets released.
						</p>
						<div class="mt-4">
							<Button
								name="Join the waitlist"
								href="https://abtx.typeform.com/to/sBQ8OlW8"
							/>
						</div>
					</div>
				</Slide>
			</div>
		</div>
		<img
			src="/logotype.svg"
			alt="Taskando logotype"
			class="absolute bottom-2 sm:bottom-3 md:bottom-5 left-2 md:left-5 z-50"
		/>
		<div class="swiper-pagination flex justify-center gap-1 pb-6 mb-2 md:pb-4">
		</div>
	</div>
</CardStyle>

<script>
	import Swiper, { Pagination, Autoplay } from "swiper";

	Swiper.use([Pagination, Autoplay]);

	const styleActiveBullet = (swiper: Swiper) => {
		swiper.pagination.bullets.forEach((bullet) => {
			if (bullet.classList.contains("swiper-pagination-bullet-active")) {
				bullet.classList.add("bg-blue-600");
			} else {
				bullet.classList.remove("bg-blue-600");
			}
		});
	};

	new Swiper(".mySwiper", {
		on: {
			init: function (swiper) {
				styleActiveBullet(swiper);
			},
			slideChange: function (swiper) {
				styleActiveBullet(swiper);
			},
		},
		// autoplay: {
		// 	delay: 5000,
		// },
		speed: 800,
		pagination: {
			el: ".swiper-pagination",
			clickable: true,
			renderBullet: function (index, className) {
				return `<span class="inline-flex items-baseline justify-center border-blue-600 border-2 h-[.75rem] w-[.75rem] text-white rounded-full font-sans cursor-pointer ease-in-out duration-200 hover:bg-blue-700 ${className}"></span>`;
			},
		},
	});
</script>
