<div class="swiper slides flex flex-col">
	<div class="swiper-wrapper">
		<div class="swiper-slide">Slide 1</div>
		<div class="swiper-slide">Slide 2</div>
		<div class="swiper-slide">Slide 3</div>
	</div>
	<div class="swiper-pagination flex justify-center mt-4 gap-1"></div>
</div>

<!-- Initialize Swiper -->

<script>
	import Swiper, { Navigation, Pagination } from "swiper";
	import "swiper/css";

	Swiper.use([Navigation, Pagination]);

	new Swiper(".slides", {
		autoplay: {
			delay: 5000,
		},
		pagination: {
			el: ".swiper-pagination",
			clickable: true,
			renderBullet: function (className) {
				return `<span class="bg-blue-600 h-3 w-3 text-white rounded-full font-sans cursor-pointer ease-in-out duration-200 hover:bg-blue-700 ${className}"></span>`;
			},
		},
	});
</script>

<style>
	html,
	body {
		height: 100%;
	}

	.swiper {
		width: 100%;
		height: 15rem;
	}

	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
	}
</style>
