---
import Tile from "../components/Tile.astro";
---

<div class="grid grid-cols-2 gap-3">
	<Tile
		bgColour="bg-orange-400"
		title="Track tasks, lists, projects"
		imgUrl="tiles/timer.svg"
		imgAlt="timer"
	/>
	<Tile
		bgColour="bg-amber-300"
		title="Notes that help facilitate retrospectives"
		imgUrl="tiles/notes.svg"
		imgAlt="notes"
	/>
	<Tile
		bgColour="bg-blue-300"
		title="Qualitative and quantitative insights"
		imgUrl="tiles/bars.svg"
		imgAlt="bar graph"
	/>
	<Tile
		bgColour="bg-purple-200"
		title="Smart granularity"
		imgUrl="tiles/granularity.svg"
		imgAlt="granularity"
	/>
</div>
