---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="keywords"
			content="taskando management productivity self-improvement retrospective tracking timing time insights statistics knowledge analysis"
		/>
		<link rel="canonical" href="https://taskando.com" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta
			name="description"
			content="Taskando, where todos meet insightful time tracking"
		/>
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="IX Design UK LTD" />
		<title>{title}</title>

		<script
			type="text/partytown"
			src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"
		></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());
			gtag("config", "G-JGREEX8BE4");
		</script>

		<!-- Google / Search Engine Tags -->
		<meta
			itemprop="name"
			content="Taskando, where todos meet insightful time tracking"
		/>
		<meta
			itemprop="description"
			content="Simple, intuitive, drag and drop time tracking app"
		/>
		<meta itemprop="image" content="http://taskando.com/banner.png" />
		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta
			name="twitter:title"
			content="Taskando, where todos meet insightful time tracking"
		/>
		<meta
			name="twitter:description"
			content="Taskando, where todos meet insightful time tracking"
		/>
		<meta name="twitter:image" content="http://taskando.com/banner.png" />
		<!-- Facebook Meta Tags -->
		<meta property="og:type" content="website" />
		<meta
			property="og:title"
			content="Taskando, where todos meet insightful time tracking"
		/>
		<meta property="og:image" content="https://taskando.com/banner.png" />
		<meta property="og:image:url" content="https://taskando.com/banner.png" />
		<meta
			property="og:image:secure"
			content="https://taskando.com/banner.png"
		/>
		<meta
			property="og:image:secure_url"
			content="https://taskando.com/banner.png"
		/>
		<meta property="og:image:width" content="1726" />
		<meta property="og:image:height" content="1110" />
		<meta
			property="og:description"
			content="Productivity app with time tracking for your projects"
		/>
		<meta property="og:url" content="https://taskando.com" />
		<meta
			property="og:title"
			content="Taskando, where todos meet insightful time 
    tracking"
		/>
		<meta property="fb:app_id" content="523076348386851" />
	</head>
	<body
		class="w-full container mx-auto flex flex-col text-slate-800 bg-blue-50 px-3 lg:p-0"
	>
		<slot />
		<style>
			@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@200;400;500;600&display=swap");

			@tailwind base;
			@tailwind components;
			@tailwind utilities;

			:root {
				--font-size-sm: clamp(1rem, 0.34vw + 0.91rem, 1.1rem);
				--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
				--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
				--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 2.375rem);
			}

			:global(h1) {
				font-size: var(--font-size-xl);
				line-height: 2.5rem;
				font-weight: 600;
			}

			:global(h2) {
				font-size: var(--font-size-lg);
			}

			:global(code) {
				font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
					monospace;
			}
		</style>
	</body>
</html>
