---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body
		class="w-full container mx-auto gap-5 flex flex-col py-5 text-slate-800"
	>
		<slot />
		<style>
			@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@400;700&display=swap");

			@tailwind base;
			@tailwind components;
			@tailwind utilities;

			:root {
				--font-size-sm: clamp(1rem, 0.34vw + 0.91rem, 1.1rem);
				--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
				--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
				--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.5rem);

				--color-text: hsl(12, 5%, 4%);
				--color-bg: hsl(10, 21%, 95%);
				--color-border: hsl(17, 24%, 90%);
			}

			:global(h1) {
				font-size: var(--font-size-xl);
				line-height: 3.5rem;
			}

			:global(h2) {
				font-size: var(--font-size-lg);
			}

			:global(code) {
				font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
					monospace;
			}

			:global(p) {
				font-size: var(--font-size-base);
			}

			:global(li) {
				font-size: var(--font-size-sm);
			}

			@layer base {
				:global(p) {
					@apply mb-4;
				}
				:global(li) {
					@apply mb-2;
				}
			}
		</style>
	</body>
</html>
